<table class="table table-hover">
    <tr style="background-color: #8fb2ff;">
        <th>Card Owner Name</th>
        <th>Card Number</th>
        <th>Expiration Date</th>
        <th>CVV</th>
        <th></th>
    </tr>
    <tr *ngFor="let pd of service.list">
        <td (click)="populateForm(pd)">{{ pd.CardOwnerName }}</td>
        <td (click)="populateForm(pd)">{{ pd.CardNumber }}</td>
        <td (click)="populateForm(pd)">{{ pd.ExpirationDate }}</td>
        <td (click)="populateForm(pd)">{{ pd.CVV }}</td>
        <td class="fa fa-trash fa-lg text-danger" style="padding-top: 16px;" (click)="onDelete(pd.PMId)"></td>
    </tr>
</table>
