<div class="example-container">
    <div class="form-container">
        <form [formGroup]="loginForm" (submit)="submit()">
            <mat-card class="example-card">
                <mat-card-title>Login</mat-card-title>
                <mat-card-content>
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="Email" required>
                        <mat-error *ngIf="loginForm.controls.Email.touched && loginForm.controls.Email.invalid">
                            <span *ngIf="loginForm.controls.Email.errors.required">This field is mandatory.</span>
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="Password" type="Password" required>
                        <mat-error *ngIf="loginForm.controls.Password.touched && loginForm.controls.Password.invalid">
                            <span *ngIf="loginForm.controls.Password.errors.required">This field is mandatory.</span>
                        </mat-error>
                    </mat-form-field>
        
                    <button mat-raised-button color="primary" type="submit">Log In</button>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>
