<form #form="ngForm" class=" example-container" autocomplete="off" (submit)="onSubmit(form)">
    <mat-card class="example-card">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <div class="form-group">
                <mat-form-field class="col-md-12">
                    <mat-label>Email</mat-label>
                    <input matInput name="Email" #Email="ngModel" [(ngModel)]="service.loginFormData.Email"
                    class="form-control form-control-lg" placeholder="Email" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="Email.invalid">Email is required</mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <mat-label>Password</mat-label>
                    <input matInput name="Password" #Password="ngModel" [(ngModel)]="service.loginFormData.Password"
                    class="form-control form-control-lg" placeholder="Password" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="Email.invalid">Password is required</mat-error>
                </mat-form-field>

                <div class="form-group">
                    <button mat-raised-button class="btn btn-info btn-lg btn-block" [disabled]="form.invalid" type="submit">SUBMIT</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>










<!-- <div class="example-container">
    <div class="form-container">
        <form [formGroup]="loginForm" (submit)="submit()">
            <mat-card class="example-card">
                <mat-card-title>Login</mat-card-title>
                <mat-card-content>
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="Email" required>
                        <mat-error *ngIf="loginForm.controls.Email.touched && loginForm.controls.Email.invalid">
                            <span *ngIf="loginForm.controls.Email.errors.required">This field is mandatory.</span>
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="Password" type="Password" required>
                        <mat-error *ngIf="loginForm.controls.Password.touched && loginForm.controls.Password.invalid">
                            <span *ngIf="loginForm.controls.Password.errors.required">This field is mandatory.</span>
                        </mat-error>
                    </mat-form-field>
        
                    <button mat-raised-button color="primary" type="submit">Log In</button>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div> -->
